.example {
  position: relative;
  padding: 28px;
  margin: 10px 0 0 0;
  border: 4px solid #f0f0f0;
  width: calc(100% - 22px);
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%; }
  .example .row {
    margin-bottom: 20px; }
    .example .row > [class^="columns"], .example .row > [class^="column"] {
      padding: 12px;
      background-color: #f0f0f0;
      border: 1px solid #e6e6e6; }
  .example .no-column-fx .row > [class^="columns"], .example .no-column-fx .row > [class^="column"] {
    padding: inherit;
    background-color: inherit;
    border: inherit; }
  .example ~ .code-show {
    margin-top: 0;
    background-color: #f0f0f0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .example.border-utils span {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f0f0f0; }
  .example.flex-utils .ex-flex-div {
    background-color: rgba(40, 40, 40, 0.15);
    border: 1px solid rgba(40, 40, 40, 0.4); }
  .example .glob-obj-example {
    background-color: rgba(40, 40, 40, 0.15);
    border: 1px solid rgba(40, 40, 40, 0.4);
    padding: 4px; }
  .example.border-utils.remove-border span {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f0f0f0;
    border: 1px solid #7f7f7f; }

main hr {
  margin: 40px 0; }

.code-show {
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  border-radius: 20px;
  width: 100%;
  position: relative;
  display: inline-block; }
  .code-show pre {
    counter-reset: line;
    padding-left: 42px;
    white-space: pre-wrap; }
  .code-show span {
    position: relative;
    vertical-align: top;
    word-wrap: break-word;
    word-spacing: 0;
    font-size: 16px; }
  .code-show .line-numbers-rows {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 12px;
    border-right: 1px solid rgba(64, 64, 64, 0.5);
    text-align: center; }
    .code-show .line-numbers-rows > span {
      pointer-events: none;
      display: block;
      counter-increment: linenumber; }
      .code-show .line-numbers-rows > span::before {
        content: counter(linenumber);
        color: #999;
        display: block;
        text-align: right; }
  .code-show .code-show-lines {
    display: inline-block;
    counter-increment: linenumber;
    margin-bottom: -1px; }
    .code-show .code-show-lines::before {
      content: counter(linenumber);
      color: #999;
      display: block;
      text-align: right;
      left: -30px;
      position: absolute;
      height: 100%; }
    .code-show .code-show-lines .code-show-line {
      border-left: 1px solid rgba(64, 64, 64, 0.5);
      padding-left: 20px;
      display: inline-block;
      min-height: 24px; }
  .code-show .GlobalTags {
    color: #0070c0;
    word-wrap: break-word; }
  .code-show .attribute {
    color: #7030a0;
    word-wrap: break-word; }
  .code-show .htmlDefault {
    color: #262626;
    word-wrap: break-word; }
  .code-show .htmlSingleString {
    color: #767171;
    word-wrap: break-word; }
  .code-show .DoubleString {
    color: #333399;
    word-wrap: break-word; }
  .code-show .GlobalErrorTag {
    color: red;
    word-wrap: break-word; }
  .code-show .tagcolor {
    color: #002060;
    word-wrap: break-word; }
  .code-show .htmlMetagDoc {
    color: #44546a;
    word-wrap: break-word; }
  .code-show .htmlMetagDoc span {
    color: #44546a;
    word-wrap: break-word; }
  .code-show .OpenGraphprotocolTags {
    color: #bd0345;
    word-wrap: break-word; }
  .code-show .cssselectorcolor {
    color: #548235; }
  .code-show .black {
    color: black; }

/*# sourceMappingURL=docs-nv.css.map */