//Badges

//Style Base

.badge{
  display: inline-block;
  vertical-align: baseline;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  background-color: $Default;
  @extend %default; //Include the default size font.
  color: #fff;
  font-size: 80%;
  padding: $padding-sm-y;
  border-radius: $border-radius;
  @extend %shadown-default;
  margin-left: $margin-sm-y;
  min-width: 26px;
  min-height: 26px;
}

//
//Theme badges
//

@each $themeName, $color in $theme-colors{
  .badge-#{$themeName}{
    @include bkg-degrade($color, 'default');
    @if $themeName == 'link'{
        color: $font-color-base;
    }
    @else if $themeName == 'white'{
      color: $font-color-base;
    }
    @else{
      color: #fff;
    }
  }
  
  .badge-3d-#{$themeName} {
    @include bkg-degrade($color, '3d');
    
    @if $themeName == 'link'{
        color: $font-color-base;
    }
    @else if $themeName == 'white'{
      color: $font-color-base;
    }
    @else{
      color: #fff;
    }
  }
  
  .badge-flat-#{$themeName} {
    @include bkg-degrade($color, 'flat');
    
    @if $themeName == 'link'{
        color: $font-color-base;
    }
    @else if $themeName == 'white'{
      color: $font-color-base;
    }
    @else{
      color: #fff;
    }
  }
  
}