.breadcrumb{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: $padding-y $padding-x;
  margin-bottom: $padding-lg-y;
  list-style: none;
  background-color: $White;
  border-radius: $border-radius; 
  
  .breadcrumb-item{
      display: inline-block;

      + .breadcrumb-item::before{
        content: "/";
        color: #6c757d;
        display: inline-block;
        padding: 0 8px;
    }
    
    &.current{
      color: $font-color-base;
      text-decoration: none;
    }
    
    &.disabled{
      color: $text-muted;
      cursor: not-allowed;
    }
    
    a{
      color: $Primary;
      text-decoration: none;
      
      &:hover{
        text-decoration: underline;
      }
    }
  }
  
  @each $ThemeName, $value in $theme-colors{
    
    &.itens-color-#{$ThemeName}{
      @if $ThemeName == 'white'{
        
          color: $White;  
      
        a{
          color: $White;  
        }

        .active{
          color: darken($White, 15%);
          text-decoration: none;
        }

        .breadcrumb-item + .breadcrumb-item::before{
            color: $White;
        }
        

      }@else {
          color: $value;  
      
        a{
          color: $value;
        }

        .active{
          color: $font-color-base;
          text-decoration: none;
        }

        .breadcrumb-item + .breadcrumb-item::before{
            color: $font-color-base;
        }
      }
    }
    
    
    &.itens-color-#{$ThemeName}-white{
       .breadcrumb-item + .breadcrumb-item::before{
            color: $White;
        }
      
        .active{
          color: darken($White, 15%);
          text-decoration: none;
        }
    }
    
    &.breadcrumb-bkg-#{$ThemeName}{
        
      background-color: $value;
      @if $ThemeName == 'white'{
      
      }@else{
        a{
          color: $White;
        }

        .active{
          color: darken($White, 10%);
          text-decoration: none;
        }

        .breadcrumb-item + .breadcrumb-item::before{
            color: $White;
        }
      }
    }
  }
  
   &.breadcrumb-bkg-none{
    background-color: transparent;
  } 
}