.cards{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $White;
  background-clip: border-box;
  border: 1px solid lighten($Dark, 75%);
  border-radius: $border-radius;
  padding: 0;
  overflow: hidden;
  
  
  &.card-286{
    width: 286px;
  }
  
  .card-title, .card-text{
    margin-bottom:$margin-y;   
  }
  
  .card-link + .card-link{
    margin-left: $margin-lg-y;
  }
  
  .card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: $padding-lg-y;
  }
  
  .card-img-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $padding-lg-y;
  }
  
  .card-header{
    padding: $padding-y $padding-lg-y;
    margin-bottom: 0;
    margin-top:0;
    background-color: rgba($Dark, .03);
    border-bottom: 1px solid lighten($Dark, 75%);
    
    + .list-group .list-group-item:first-child{
      border-top:0;
    }
  }
  
  .card-footer{
    padding: $padding-y $padding-lg-y;
    margin-bottom: 0;
    margin-top:0;
    background-color: rgba($Dark, .03);
    border-top: 1px solid lighten($Dark, 75%);
  }
  
    &:first-child .list-group-item:first-child{
    border-top: 0;
  }
  
}