//
//Rows
//

.row {
    &.large-unstack>.column, &.large-unstack>.columns, &.medium-unstack>.column, &.medium-unstack>.columns {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
    @include make-row();
}


//
//Columns
//

//Global style for All columns
.column, .columns{
  position: relative;
  min-height: 1px; // Prevent columns from collapsing when empty
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  
  &.smart{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
  }
  
}


@include grid-system-factory();