.nv-note{
  border-radius: $border-radius;
  padding: $padding-y $padding-x;
  border: 1px solid lighten($Dark, 75%);
  border-left-width: 6px;
  margin: $margin-sm-x 0;
  background-color: $White;
  
  
  p{
    margin: 0;
  }
  
  &.small{
    padding: $padding-sm-y $padding-sm-x;
  }  
  
  &.large{
    padding: ($padding-lg-y * 2) ($padding-lg-x * 2);
  }
  
  //
  //Theme badges
  //

  @each $themeName, $color in $theme-colors{
    &.#{$themeName}{
      border-color: $color;
    } 
    
    &.simple-#{$themeName}{
      background-color: lighten($color, 43%);
      border: 1px solid  $color;
      box-shadow: unset;
    }  
    
    &.full-#{$themeName}{
      background-color: lighten($color, 43%);
      border-color: $color;
    }
  }
  
  &.simple{
    background-color: lighten($Dark, 80%);
    border-left: 1px solid lighten($Dark, 75%);
    box-shadow: unset;
  }
    
}


