*{
  font-family: $font-family-base;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

//Remove margin from all elements
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
  margin: 0;
  padding: 0;
  background-color: transparent;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

// Correct the line height in all browsers.
//Prevent adjustments of font size after orientation changes in iOS.

html{
  line-height: $line-height-base;
  -webkit-text-size-adjust: 100%;
}

body{
  line-height: $line-heigth-body;
}

//Remove style list from ULs.
ol, ul{
  list-style:none;
}

//Global style for lists
ul, ol, dl{
  margin-bottom: $padding-lg-y;
}

blockquote, q{
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content:'';
  content:none;
}

:focus{
  outline:0;
}

ins{
  text-decoration:none;
}

del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

table, tbody, tfoot, thead, tr, th, td{
  vertical-align:top;
}

img{
  vertical-align:middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}


//
// Links
//

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  &:hover {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }
}


//
// Correct element displays
//

output {
  display: inline-block;
}

summary {
  display: list-item; // Add the correct display in all browsers
  cursor: pointer;
}

template {
  // Add the correct display in IE
  display: none; 
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] {
  display: none !important;
}

//
// Forms
//

label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  margin-bottom: $margin-y;
}

//
//Add input type text and file for remove borders in IE9+
//
input[type=text], input[type=file], input[type=email], input[type=password], select, textarea{
  border-radius: $border-radius;
  border: 1px solid lighten($Dark, 60%);
  padding: $padding-y $padding-x;
  font-size: $font-size-base;
  transition: all ease 200ms;
  margin-bottom: $margin-sm-y;
  display: inline-block;
  box-shadow: $shadowSmall;
  &:focus{
    border-color: $Primary;
    color: $Primary;
    box-shadow: $shadowHover;
  }
}


input, button, select, optgroup, textarea {
//  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
//  -webkit-appearance: none;
}

button, input{
  overflow: visible;
}

button, select{
  text-transform: none;
}

button:hover{
  background-color: darken($White, 2%);
}

//
//hr
//

hr{
  border: 0;
  height: 1px;
  opacity: 0.5;
}