//
// The all Typographt style, Titles, Headers, texts and more elements
//

//
//Heading
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: $headings-margin-y 0;
  font-weight: $headings-font-weight;
//  line-height: $headings-line-height;
  color: $headings-color;
}

@each $HeadingName, $size in $SizeHeadings{
  #{$HeadingName}, .#{$HeadingName}{
    font-size: $size;
  }
}

//
//Main titles
//
@each $MainTtName, $FountSize in $SizeMainTitle{
  .#{$MainTtName}{
    font-size: $FountSize;
    font-weight: $main-title-font-weight;
    margin-bottom: $main-title-margin-y;
  }  
}

.main-title-plos{
  border-bottom: 1px solid $default-color;
  padding-bottom: $main-title-padding-y;
  margin: $main-title-margin-y 0;
}

//
//Destacado
//
.standout{
  font-size: map-get($SizeHeadings, 'h5');
  font-weight: $main-title-font-weight;
}

//
//P
//
p{
  margin: $margin-y 0;
}

.small, small{
  font-weight: 400;
  font-size: 80%;
}

mark, .mark {
  padding: $padding-mark;
  background-color: $Primary;
  color: $White;
  border-radius: $border-radius;
  margin: ($margin-sm-y - 2);
  display: inline-block;
  
  @each $themeName, $value in $theme-colors {
    
    &.mark-#{$themeName}{
    
      @include bkg-degrade($value);
      
      @if $themeName == 'link'{
        color: $GrayText;
      }
      @else if $themeName == 'dark'{
          color: white;
      }
    }    
    
    &.mark-flat-#{$themeName}{
    
      @include bkg-degrade($value, 'flat');
      
      @if $themeName == 'link'{
        color: $GrayText;
      }
      @else if $themeName == 'dark'{
          color: white;
      }
    }    
    
    &.mark-3d-#{$themeName}{
    
      @include bkg-degrade($value, '3d');
      
      @if $themeName == 'link'{
        color: $GrayText;
      }
      @else if $themeName == 'dark'{
          color: white;
      }
    }
    
  }//End @each
}

// Blockquotes
.blockquote {
  margin-bottom: $margin-y;
  font-size: $font-size-lg;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $Default;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

//
// Lists
//

ul{

  @each $StyleId, $NameStyle in $StyleList{
    &.list-style-#{$NameStyle}{
      list-style: $NameStyle;
      padding-left: 30px;
    }
  } 
  
  li{
    margin-bottom:$margin-sm-y; 
  }
  
  // Inline turns list items into inline-block
  &.list-inline {
    list-style:none;
    
    &:not(:last-child){
      margin-right: $margin-sm-x;
    }
    
    .list-inline-item {
      display: inline-block;
    }
  }
}

