//Mixins

@mixin button-size($padding-y, $padding-x, $font-size-base,  $btn-border-radius){
  
  padding: $padding-y $padding-x;
  font-size: $font-size-base;
    
  @if($btn-border-radius){
    border-top-left-radius:     $border-radius;
    border-top-right-radius:    $border-radius;
    border-bottom-left-radius:  $border-radius;
    border-bottom-right-radius: $border-radius;
  }@else{
    border-radius: 0;
  }
  
}

%fx-content{
  content: ' ';
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.05);
  z-index: 0;
}

@mixin fx-btn-click($colorFx, $type){
  content: ' ';
  position: absolute;
  width: 300%;
  height: 300%;
  border: 20px solid $colorFx;
  
  @if $type == 'circle'{
    border-radius: 100%;  
  }@else{
    border-radius: $btn-border-radius;  
  }
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 860ms;
  filter: blur(11px);
//  -ms-filter: blur(11px); 
//  filter:progid:DXImageTransform.Microsoft.Blur(pixelradius='11', shadowopacity='0.0');
  opacity: 1;
  transition-property: width, height;
  transition-delay: 50ms, 50ms;
}

%fx-btn-click-active{
  content: ' ';
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 1;
  transition-property: width, height;
  transition-delay: 700ms, 700ms;
  border: 20px solid transparent;
}

%default{
  font-weight: $font-weight-base;
  line-height: $line-heigth-body;
}
