@mixin bkg-degrade($a, $type:'default', $important:'false', $direction:'to bottom'){
  
  @if $important == 'true'{
    $important: '!important';
  }@else{
    $important:'';
  }
  
  @if $type == '3d'{
   background-image: linear-gradient(#{$direction}, $a, darken($a, 10% ), lighten($a, 10% )) #{$important}; //3d fx
    
  background-image: -webkit-linear-gradient(#{$direction}, $a, darken($a, 10% ), lighten($a, 10% )) #{$important};
  background-image: -o-linear-gradient(#{$direction}, $a, darken($a, 10% ), lighten($a, 10% )) #{$important};
  background-image: -ms-linear-gradient(#{$direction}, $a, darken($a, 10% ), lighten($a, 10% )) #{$important};
  background-image: linear-gradient(#{$direction}, $a, darken($a, 10% ), lighten($a, 10% )) #{$important};
    
   background-color: $a #{$important}; //Flat background...
  }
  @else if $type == '3d-disabled'{
    background-image: linear-gradient(#{$direction}, $a, lighten($a, 30% ), lighten($a, 20% )) #{$important}; //3d fx disabled
    background-color: $a #{$important}; //Flat background...
  }
  @else if $type == 'flat'{
    background-color: $a #{$important}; //Flat background...
  }
  @else if $type == 'flat-disabled'{
    background-color: lighten($a, 20%) #{$important}; //Falt disabled...
    background-color: $a #{$important}; //Flat background...
  }
  @else if $type == 'disabled'{
    background-image: linear-gradient(#{$direction}, lighten($a, 20% ), lighten($a, 30% )) #{$important}; //Default disabled
    background-color: $a #{$important}; //Flat background...
  }
  @else{
    background-image: linear-gradient(#{$direction}, darken($a, 10% ), lighten($a, 10% )) #{$important}; //Default gradient
    background-color: $a #{$important}; //Flat background...
  }   
}