@mixin bkg-degrade($a, $type:'default', $important:'false', $direction:'to right'){
  
  @if $important == 'true'{
    $important: '!important';
  }@else{
    $important:'';
  }
  
  @if $type == 'disabled'{
    background-image: linear-gradient(#{$direction}, lighten($a, 26% ), lighten($a, 30% )) #{$important}; //Default disabled
    background-color: $a #{$important};
  }
  @else{
    background-image: linear-gradient(#{$direction}, darken($a, 4% ), $a) #{$important}; //Default gradient
    background-color: $a #{$important};
  }   
}