//The Grid System factory
//
//Used by NUIverse to create the correct number of columns.
//It was also built to be included and function independently.

//Global mixin for create the all number of columns.
@mixin grid-system-factory{
  
  @for $i from 1 through $grid-columns{
      .column-#{$i}, .columns-#{$i} {
        @include make-columns($i, $grid-columns);
      }
  }
  
@each $bpName in map-keys($global-breakpoints) {
  
    //Create a small Block Grids
    @for $i from 1 through $grid-columns{
      @if $bpName == small{
        .row.#{$bpName}-bl-#{$i} .column, .row.#{$bpName}-bl-#{$i} .columns{
              -webkit-box-flex: 0;
              -ms-flex: 0 0 (100% / $i);
              flex: 0 0 (100% / $i);
              max-width: (100% / $i);
        }
      }
    }

  @include media-breakpoint-min($bpName) {
    
    $checkName: bpHelper($bpName, 'check');
    
      .column.#{$checkName}, .columns.#{$checkName} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      
      .column.#{$checkName}-expand, .columns.#{$checkName}-expand {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px;
      }
//      .columns.#{$bpName}-auto {
//        flex: 0 0 auto;
//        width: auto;
//        max-width: none; // Reset earlier grid tiers
//      }

      @for $i from 1 through $grid-columns{
        .column.#{$checkName}-#{$i}, .columns.#{$checkName}-#{$i}{
          @include make-columns($i, $grid-columns);
        }
      }

    //Create others Block Grids 
    @for $i from 1 through $grid-columns{
        @if $bpName != 'small' and $bpName != 0{ //Ignore small size and first element
        .row.#{$checkName}-bl-#{$i} .column, .row.#{$checkName}-bl-#{$i} .columns{
          -webkit-box-flex: 0;
          -ms-flex: 0 0 (100% / $i);
          flex: 0 0 (100% / $i);
          max-width: (100% / $i);
          transition: #{$bpName};
        }
      }
      

    }

    }//End @include

  }//End each Global breackpoints
}//End mixin grid-system-factory