%no-border-radius{
  border-radius: 0 !important;
}

%no-box-shadown{
  box-shadow: none !important;
}

%medium-border-radius{
  border-radius: $border-radius-m !important;
}

%size-sm{
  padding: $padding-sm-y $padding-sm-x !important;
  font-size: $font-size-sm !important;
}

%size-lg{
  padding: $padding-lg-y $padding-lg-x !important;
  font-size: $font-size-lg !important;
}

%shadown-default{
  box-shadow: $shadowDefault;
}

