@each $colorName, $color in $theme-colors {
  .bkg-#{$colorName}{
    @include bkg-degrade($color, 'default', 'true');
    border-color: $color !important;
  }
  
  .bkg-3d-#{$colorName}{
    @include bkg-degrade($color, '3d', 'true');  
    border-color: $color !important;
  }
  
  .bkg-flat-#{$colorName}{
    @include bkg-degrade($color, 'flat', 'true');
    border-color: $color !important;
  }

}

.bkg-transparent {
  background: transparent !important;
}
