//
// Border
//


// Add basic border
.border         { border: $border-width solid $border-color !important; }
.border-top     { border-top: $border-width solid $border-color !important; }
.border-right   { border-right: $border-width solid $border-color !important; }
.border-bottom  { border-bottom: $border-width solid $border-color !important; }
.border-left    { border-left: $border-width solid $border-color !important; }

// Remove border
.border-0        { border: 0 !important; }
.border-top-0    { border-top: 0 !important; }
.border-right-0  { border-right: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0   { border-left: 0 !important; }

//
// Border-radius
//

.br {
  border-radius: $border-radius !important;
}
.br-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}
.br-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}
.br-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}
.br-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.br-m {
  border-radius: $border-radius !important;
}
.br-m-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}
.br-m-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}
.br-m-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}
.br-m-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.br-circle {
  border-radius: 50% !important;
}

.br-0 {
  border-radius: 0 !important;
}



@each $colorName, $color in $theme-colors {
  .border-#{$colorName}{
    border-color: $color !important;
  } 
  
  .border-#{$colorName}-variant{
    
    @if $colorName == 'dark'{
      border-color: lighten($color, 70%) !important;
    }@else{
      border-color: lighten($color, 70%) !important;
    }
  }

  @for $i from 1 through 12{
    .bt-#{$i}{
      border-top: #{$i}px solid;
    } 
    .bb-#{$i}{
      border-bottom: #{$i}px solid;
    }    
    .bl-#{$i}{
      border-left: #{$i}px solid;
    } 
    .br-#{$i}{
      border-right: #{$i}px solid;
    }
  }
}

.border-transparent {
  border-color: transparent !important;
}