  //Create responsive displays
  @each $bpName in map-keys($global-breakpoints) {
    
    $checkName: bpHelper($bpName, 'check', '-');

    @include media-breakpoint-min($bpName) {
      .d-inline#{$checkName}             {display:inline !important;}
      .d-block#{$checkName}              {display:block !important;}
      .d-flex#{$checkName}               {display:flex !important; display: -webkit-flex !important;}
      .d-grid#{$checkName}               {display:grid !important; display: -ms-grid !important;}
      .d-inline-block#{$checkName}       {display:inline-block !important;}
      .d-inline-flex#{$checkName}        {display:inline-flex !important; display: -webkit-inline-flex !important;}
      .d-inline-grid#{$checkName}        {display:-ms-inline-grid !important;  display:inline-grid !important;}
      .d-inline-table#{$checkName}       {display:inline-table !important;}
      .d-list-item#{$checkName}          {display:list-item !important;}
      .d-run-in#{$checkName}             {display:run-in !important;}
      .d-table#{$checkName}              {display:table !important;}
      .d-table-caption#{$checkName}      {display:table-caption !important;}
      .d-table-column-group#{$checkName} {display:table-column-group !important;}
      .d-table-header-group#{$checkName} {display:table-header-group !important;}
      .d-table-footer-group#{$checkName} {display:table-footer-group !important;}
      .d-table-row-group#{$checkName}    {display:table-row-group !important;}
      .d-table-cell#{$checkName}         {display:table-cell !important;}
      .d-table-column#{$checkName}       {display:table-column !important;}
      .d-table-row#{$checkName}          {display:table-row !important;}
      .d-none#{$checkName}               {display:none !important;}
      .d-initial#{$checkName}            {display:initial !important;} 
    }
}