@each $bpName in map-keys($global-breakpoints) {
  
  @include media-breakpoint-min($bpName) {

    $checkName: bpHelper($bpName, 'check', '-');  
    
    //Create for breackpoints
    .float-left#{$checkName} {
      float: left !important;
    }
    .float-right#{$checkName} {
      float: right !important;
    }
    .float-none#{$checkName} {
      float: none !important;
    }
    
  }
}
