.shadow-none{
  box-shadow: none !important;
}

.shadow{
  box-shadow: $shadowDefault;
}

.shadow-small{
  box-shadow: $shadowSmall;
}

.shadow-medium{
  box-shadow: $shadowMedium;
}

.shadow-large{
  box-shadow: $shadowLarge;
}

.shadow-center{
  box-shadow: $shadowCenterDefault;
}

.shadow-center-small{
  box-shadow: $shadowCenterSmall;
}

.shadow-center-medium{
  box-shadow: $shadowCenterMedium;
}

.shadow-center-large{
  box-shadow: $shadowCenterLarge;
}