.shadow-none{
  box-shadow: none !important;
}

.shadow{
  box-shadow: $shadowDefault;
}

.shadow-small{
  box-shadow: $shadowSmall;
}

.shadow-medium{
  box-shadow: $shadowMedium;
}

.shadow-large{
  box-shadow: $shadowLarge;
}