@each $abbrevSize, $size in $sizes {
  .width-#{$abbrevSize} { width: $size !important; }
  .height-#{$abbrevSize} { height: $size !important; }
  
  .max-width-#{$abbrevSize}  { max-width: $size !important; }
  .max-height-#{$abbrevSize}  { max-height: $size !important; }
}

  .max-width-auto  { max-width: auto !important; }
  .max-height-auto  { max-height: auto !important; }
