//
//Spacing singleton.
// This make classes for more options of margins e paddings.
// m is for margin and p for padding.
//

/**
* t - for classes that set margin-top or padding-top
* b - for classes that set margin-bottom or padding-bottom
* l - for classes that set margin-left or padding-left
* r - for classes that set margin-right or padding-right
* x - for classes that set both *-left and *-right
* y - for classes that set both *-top and *-bottom
*/

@each $SizeSpacer, $valueSize in $spacers{
  
  //Margins
  .m-#{$SizeSpacer}{
    margin: $valueSize !important;
  }
  
  .mb-#{$SizeSpacer}, .my-#{$SizeSpacer}{
    margin-bottom: $valueSize !important;
  }
  
  .mt-#{$SizeSpacer}, .my-#{$SizeSpacer}{
    margin-top: $valueSize !important;
  }  
  
  .ml-#{$SizeSpacer}, .mx-#{$SizeSpacer}{
    margin-left: $valueSize !important;
  } 
  
  .mr-#{$SizeSpacer}, .mx-#{$SizeSpacer}{
    margin-right: $valueSize !important;
  }
  
  //Margin auto
  .mb-auto, .my-auto{
    margin-bottom: auto !important;
  }
  
  .mt-auto, .my-auto{
    margin-top: auto !important;
  }  
  
  .ml-auto, .mx-auto{
    margin-left: auto !important;
  } 
  
  .mr-auto, .mx-auto{
    margin-right: auto !important;
  }
  
  //Paddings
  
  .p-#{$SizeSpacer}{
    padding: $valueSize !important;
  }
  
  .pb-#{$SizeSpacer}, .py-#{$SizeSpacer}{
    padding-bottom: $valueSize !important;
  }
  
  .pt-#{$SizeSpacer}, .py-#{$SizeSpacer}{
    padding-top: $valueSize !important;
  }  
  
  .pl-#{$SizeSpacer}, .px-#{$SizeSpacer}{
    padding-left: $valueSize !important;
  } 
  
  .pr-#{$SizeSpacer}, .px-#{$SizeSpacer}{
    padding-right: $valueSize !important;
  }
  
  //Global Padding and margin
  
  //Padding global
  .pg-#{$SizeSpacer}{
    padding: $valueSize !important;
  }
  
  .mg-#{$SizeSpacer}{
    margin: $valueSize !important;
  }
}

.m-auto{
  margin: auto;
}
