//
// Text
//

// Alignment

.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
//.text-truncate { @include text-truncate; }

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics

//.font-weight-white  { font-weight: $font-weight-white !important; }
//.font-weight-normal { font-weight: $font-weight-normal !important; }
//.font-weight-bold   { font-weight: $font-weight-bold !important; }
.font-italic        { font-style: italic !important; }

@each $themeName, $value in $theme-colors{
  .text-#{$themeName}, .text-#{$themeName} *{
    color: $value !important;
  }
}

.text-muted { color: $text-muted !important; }

// Misc

.text-hide {
//  @include text-hide();
}
